li {
    list-style-type: none;
    width: 160px;
    border: 1px solid #5b4a1c;
}

li a {
    display: block;
    background-color: #c8b26a;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #a8924f;

}
body{
    background-image: url(images/kathrerineJohnsonPicture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh ;
}
